DJANGO_SECRET_KEY=gere-uma-chave-aleatoria-antes-de-usar
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=palco
POSTGRES_USER=palco
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
PUBLIC_BASE_URL=http://127.0.0.1:8000
DJANGO_SECURE_SSL_REDIRECT=0
